:root {
  font-family: system-ui, Avenir, Helvetica, Ari;
  width:100%;
}

body {
  width: 100vw;
  height: 100vh;
  background: url('../assets/background.jpg');
  background-repeat: no-repeat;
  background-size: fill;
  display: flex;
  justify-content:center ;
}
 
a {
  list-style: none;
  color: black;
}
 
button,
select {
  padding: 5px 10px;
  min-width: 50px;
  margin: 5px;
  font-size: 18px;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
