:root {
  font-family: system-ui, Avenir, Helvetica, Ari;
  width:100%;
  background-color: #FAF3F1;
}


 
a {
  list-style: none;
  color: black;
}
 




@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    /* background-color: #ffffff; */
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
