:root {
  font-family: system-ui, Avenir, Helvetica, Ari
}

body {
  width: 1900px;
  height: 1000px;
  background: url('../assets/background.jpg');
  background-repeat: no-repeat;
  background-size: fill;
  display: flex;
  justify-content: center;
}
 
a {
  list-style: none;
  color: black;
}
 
button,
select {
  padding: 5px 10px;
  min-width: 50px;
  margin: 5px;
  font-size: 18px;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
